- if object.errors.any?
  .ui.negative.message
    .header
      The form contains
      = pluralize(object.errors.count, "error")
      \.
    %ui.list
      - object.errors.full_messages.each do |msg|
        %li
          = msg
