$("#procedure_fragment_ids").val("#{session[:selected_fragments]}")
$("#flow .ui.segments").html("#{escape_javascript(render(partial: 'procedures/selected_fragment', collection: @selected_fragments, as: :selected_fragment))}")
