.ui.inverted.vertical.masthead.center.aligned.segment
  .ui.container
    .ui.large.inverted.menu
      %h3.header.item
        = link_to 'processor', root_path
      .right.menu
        %a.item
          Login
        %a.item
          Sign up
